<!DOCTYPE html>
<html>
  <head>
    <title>Hiptime</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container-fluid d-flex justify-content-between">
          <div class="navbar-header">
            <%= link_to "Hiptime", root_path, class:"navbar-brand" %>
          </div>
          <ul class="nav navbar-nav navbar-right">
            <% if current_user.present? %>
              <li class="nav-item">
                <%= link_to "Create new item", new_item_path, class: "btn btn-info" %>
                <%= link_to "Sign out", destroy_user_session_path, method: :delete, class:"btn btn-danger"%>
              </li>
            <% else %>
              <li class="nav-item mr-2">
                <%= link_to "Sign in", new_user_session_path, class:"btn btn-success"%>
              </li>
              <li class="nav-item">
                <%= link_to "Sign up", new_user_registration_path, class:"btn btn-primary"%>
              </li>
            <% end %>
          </ul>

        </div>
      </nav>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <main class="container">
      <%= yield %>
    </main>
    <footer>
    </footer>
  </body>
</html>
